<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chat App</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
			integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<section>
			<div class="left">
				<!-- TODO: -->
				<div class="user-profile">
					<div class="img"></div>
					<div class="name">
						<p>Mathew</p>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="container">
					<div class="view">
						<div class="left-chat">
							<p>
								Lorem ipsum, dolor sit amet consectetur adipisicing elit.
								Maiores, autem. Lorem ipsum dolor sit amet consectetur
								adipisicing elit. Unde, incidunt. Perspiciatis vitae fuga
								temporibus tempora reprehenderit sapiente quia voluptatem
								dignissimos!
							</p>
						</div>
						<div class="right-chat">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit.
								Laboriosam perferendis est suscipit explicabo reprehenderit
								commodi delectus, accusantium itaque adipisci quod.
							</p>
						</div>

						<div class="left-chat">Lorem ipsum</div>
					</div>
					<div class="input">
						<form>
							<input type="text" placeholder="Type Something...." />
							<button type="submit"><i class="far fa-paper-plane"></i></button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
